{% extends 'accounts/base.html' %}

{% block title %}Login - MathsWorthy{% endblock %}

{% block content %}
<div class="auth-container">
    <h2 class="text-center mb-4">Login</h2>
    <form method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        <div id="login-form">

            <div class="mb-3">
                <label for="id_username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="id_username" required>
            </div>
            <div class="mb-3">
                <label for="id_password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="id_password" required>
            </div>

            {% if form.non_field_errors %}
            <div class="alert alert-danger mt-2" role="alert">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </div>
    </form>
    <div class="text-center mt-3">
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>
</div>
{% endblock %} 